body{
    background : lightcoral;
    height: 2000px;
}

.btn{
    width: 220px;
    height: 40px;
    background-color : white;
    border: 1px solid rgba(0,0,0,0.2);
    outline: 0;
    text-align: center;
    align-items : center;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: .3s all;
    cursor: pointer;
    border-radius: 3px;
}

.btn:hover{
    box-shadow: 0 4px 30px rgba(0,0,0,0.6);
}

.container{
    background-color : rgba(0,0,0,0.2);
    width : 800px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
    color:white;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    background : rgba(0,0,0,0.5);
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

.modal__content{
    position: relative;;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color : #fff;
    margin-top: 40px;
}

.modal__dialog{   
    max-width: 700px;
    margin: 0 auto;
}

.esc{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color : rgba(0,0,0,0.7);
    float: right;
    margin-top: 10px;
    width: 20px;
    text-align: center;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.2);
    padding : 0 5px 7px 5px;
}

.esc:hover{
    box-shadow: 0 4px 30px rgba(0,0,0,0.3);
}

.title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding-left: 300px;
    padding-top: 20px;
}

input{
    width: 300px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow : 0 4px 15px rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align : center;
    margin-top: 50px;
}

.name{
    position: relative;
    right: 165px;
}

.phone{
    position: relative;
    left: 198.5px;
    bottom: 20px;
}

.send{
    width: 300px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow : 0 4px 15px rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align : center;
    display: block;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
     
}

.btn-dark{
    background-color : rgba(0,0,0,0.9);
    color : #fff;
    margin-top: 20px;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.status{
    width: 100%;
    height: 30px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
}

.thanks{
    display: block;
    text-align: center;
    width: 700px;
    height: 100px;
    padding-top: 150px;
    font-size: 30px;
    font-family: consolas;
    text-transform: uppercase;

}